.container {
  height: 768px;
  background-color: white;
  border: 1px solid yellow;
}

input[type="checkbox"]{
  margin-top: 10px;
  margin-left: 15px;
  height: 30px;
  width: 30px;
}

.element {
  margin: 15px;
  padding: 15px;
  border: 1px solid #218838;
  width: 248px;
  background-color: #abdde5;
}
.row {
  font-family: Arial;
  font-size: 24px;

}

.small-pt {
  font-size: 16px;
}

.inline-block {
  display: inline-block;
}

.bold{
  text-shadow: 1px 0 0 currentColor;
}

.margin-bot15 {
  margin-bottom: 15px;
}
