<div class="container">
  <div class="row margin-bot15">
    <h2 class="offset-1">
      <span *ngIf="stoke" class="bold"> Акт заказов для склада номер {{stoke}}</span>
      <span *ngIf="!stoke" class="bold"> Выберите, пожалуйста, склад</span>
    </h2>

  </div>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-lg-5">
        <div class="element">
          <label class="small-pt form-check-label inline-block">Это заказ
          </label>
          <input type="checkbox" formControlName="orderType" class="form-check-input inline-block" ([ngModel])="orderType">
        </div>
      </div>
      <div class="offset-1 col-lg-5">
        <div class="element">
          <span> Выберите вариант развития</span>
          <div *ngIf="orderType">
            <select  formControlName="offerOrder">
              <option *ngFor="let offer1 of offersOrder" [ngValue]="offer1">
                {{ offer1 }}
              </option>
            </select>
          </div>
          <div *ngIf="!orderType" >
            <select formControlName="offerReturn">
              <option *ngFor="let offer2 of offersReturn" [ngValue]="offer2">
                {{ offer2 }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="orderType" class="form">

      </div>
    </div>
  </form>
</div>
