<div class="full-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <header-component *ngIf="nonLogin"></header-component>
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
        <footer-component *ngIf="nonLogin"></footer-component>
      </div>
      <div class="col-lg-3" *ngIf="nonLogin">
        <fixed-right>

        </fixed-right>
      </div>
    </div>
  </div>
</div>

