<div class="login-page">
  <div class="container">
    <h1 class="form-heading">Пожалуйста, введите логин</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Ваша учётная запись</h2>
          <p>Введите свой логин и пароль</p>
        </div>
        <form id="Login">

          <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email">

          </div>

          <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

          </div>
          <div class="forgot">
            <a href="reset.html">Забыли пароль?</a>
          </div>
          <button type="submit" class="btn btn-primary">Войти</button>

        </form>
      </div>
    </div>
  </div>
</div>
