<h2 *ngIf="!activeCell">Ячейки</h2>
<h2 *ngIf="!!activeCell">Еда</h2>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading" *ngIf="!activeCell">Здесь вы можете увидеть список ваших ячеек</div>
    <div class="panel-heading" *ngIf="!!activeCell">Здесь вы можете увидеть еду в ячейке {{activeCell}}</div>
    <table class="table" *ngIf="!activeCell">
      <thead>
      <tr>
        <th scope="col">CellId</th>
        <th scope="col">Parameters</th>
        <th scope="col">IsColding</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cell of cells" (click)="setActiveCell(cell.cellId)" [ngClass]="{'active': cell.cellId == activeCell}">
        <th>{{cell.cellId}}</th>
        <td>{{"Widrh: " + cell.width + " Height: " + cell.height + " Length: " + cell.length}}</td>
        <td>{{cell.isCold? "Да" : "Нет"}}</td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="!!activeCell">
      <button class="btn btn-primary"
              (click)="clearCell()">
        Назад
      </button>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">PartId</th>
          <th scope="col">Parameters</th>
          <th scope="col">Weight</th>
          <th scope="col">Amount and Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let good of food">
          <th>{{good.partId}}</th>
          <td>{{"Widrh: " + good.width + " Height: " + good.height + " Length: " + good.length}}</td>
          <td>{{"Weight" + good.weigth}}</td>
          <td>{{"Amount" + good.amount + "Cost" + good.cost + good.metric }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
