<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">boxId</th>
          <th scope="col">Coordinates</th>
          <th scope="col">Owner</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let stoke of stocks" (click)="setActiveStock(stoke.boxId)" [ngClass]="{'active': stoke.boxId == activeIdStoke}">
          <th>{{stoke.boxId}}</th>
          <td>{{ 'X: '  + stoke.xCoordinate + ' Y: ' + stoke.yCoordinate}}</td>
          <td>{{stoke.owner}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-7" *ngIf="activeIdStoke">
        <cell-content [activeId]="activeIdStoke"></cell-content>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3">
        <button class="button"
                [ngClass]="showOrder? 'btn-secondary' : 'btn-primary'"
                (click)="onShowOrderForm()">{{'Добавить заказ'}}</button>
      </div>
    <div class="col-lg-9">
      <order-form [stoke]="activeIdStoke" *ngIf="showOrder"></order-form>
    </div>
  </div>
</div>
